@{
    ViewBag.Title = "Home Page";
}
<form class="form-inline">
    <div class="form-group">
        <label for="sel1">Select Currency:</label>
        <select class="form-control" id="sel1">
            <option>default</option>
            <option>usa</option>
            <option>euro</option>
        </select>
    </div>
    <button type="button" id="button1" class="btn btn-default">Submit</button>
    <hr />
</form>
<div class="container" id="productsList" style="display:none">
    <h2>Products List</h2>
    <table id="productsTable" class="table table-hover">
        <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>
</div>
<script>
    $(document).ready(function(){
        $("#button1").click(function () {
            var value = $('#sel1').val();
            if (value == "default") {
                value = null;
            }
            else if (value == "usa") {
                value = 0;
            }
            else if (value == "euro") {
                value = 1;
            }

          $("#tableBody tr").remove();
          $.ajax({
              url: "/Home/GetAllProducts",
              data: {
                  "currency": value,
              },
              type: "GET",
              success: function (response) {
                  if (response.Success) {
                      document.getElementById("productsList").style.display = 'block';
                      var list = JSON.parse(response.products);
                      $.each(list, function (i) {
                          $("#productsTable tbody").append("<tr>" +
                              "<td>" + list[i].Type + "</td>" +
                              "<td>" + list[i].Name + "</td>" +
                              "<td>" + list[i].Price + "</td>" +
                              "</tr>");
                      })
                  }
                  else {
                      //do something
                  }
              },
              error: function (xhr) {

              }
          });
      });
    });
</script>